$primary-purple: #b7a5f4;
$text-gray: #b7b7b7;
$background-dark: #0c0c0c;
$light-lavender: #b8aed1;

.online-payments-container {
  background-color: $background-dark;
  color: white;
  padding: 4rem 2rem;
  text-align: left;

  @media (max-width: 767px) {
    padding: 2rem 1rem;
  }

  @media (min-width: 768px) {
    padding: 6rem 4rem;
  }

  h3 {
    margin: 0;
  }

  .content-wrapist {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 3rem;
    width:100%;

    @media (max-width: 767px) {
      text-align: center;
    }

    .section-title {
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.2;
      color: white;
      word-wrap: break-word;
      max-width: 50%;

      @media (min-width: 768px) {
        font-size: 2.75rem;
        text-align: left;
      }

      .light-lavender {
        color: $light-lavender;
      }
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }

    .image-container {
      margin-bottom: 2rem;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }

      .online-payment-image {
        width: 100%;
        height: auto;
        max-width: 500px;
        border-radius: 10px;
      }
    }

    .steps-container {
      display: flex;
      flex-direction: column;
      position:relative;
      gap: 2rem;
      padding-left: 3rem;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -0.7px;
        width: 2px;
        height: 420px;
        background: linear-gradient(to bottom, $primary-purple 50%, transparent 50%);
        background-size: 100% 11px;

        @media (max-width: 667px) {
          height: 500px;
        }
      }
    }

    .step-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }

    .step-title {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      position:relative;

      &::after, &::before {
        content: "";
        position:absolute;
        padding: 8px;
        background-color: $primary-purple;
        left: -48px;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100px;
      }

      &::before {
        background-color: rgba($primary-purple, .5);
        padding:16px;
      }

      @media (min-width: 768px) {
        font-size: 1.2rem;
      }
    }

    .step-description {
      color: $text-gray;
      line-height: 1.4;
      font-size: 0.85rem;
    }
  }
}