$primary-purple: #b4a0f7;
$text-gray: #808080;
$background-dark: #000000;

.customer-reviews {
  background-color: $background-dark;
  padding: 6rem;
  align-items: left;

  .section-title {
    align-items: left;
    color: $primary-purple;
    font-size: 2.5rem;
    margin-bottom: 2rem;

    &--primary {
      color: white;
    }
  }

  .controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;

    button {
      background: none;
      border: none;
      cursor: pointer;
      color: #fff;
      transition: color 0.3s ease;

      &:hover {
        color: $primary-purple;
      }
    }
  }

  .review-container {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    .review-card {
      margin: 1rem;
      max-height: 350px;
      flex: 0 0 25%;
      padding: 1.5rem;
      background-color: #1f1f1f;
      border-radius: 0.5rem;
      scroll-snap-align: start;
      transition: transform 0.3s ease-in-out;

      &.active {
        transform: translateX(0);
      }

      blockquote {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 1rem;
        color: #fff;
      }

      .reviewer {
        display: flex;
        align-items: center;
        gap: 1rem;

        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $primary-purple;
        }

        h4 {
          font-size: 1rem;
          font-weight: 600;
          color: #fff;
        }

        p {
          font-size: 0.875rem;
          color: $text-gray;
        }
      }
    }
  }
}